<p id="notice"><%= notice %></p>
<%= render 'layouts/header' %>
<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <% unless blog.user_id == current_user.id %>
          <% if current_user.favorites.find_by(blog_id: blog.id).present? %>
            <td><%= link_to 'お気に入り解除する', favorite_path(id: blog.favorites.find_by(blog_id: blog.id).id), method: :delete %></td>
          <% else %>
            <td><%= link_to 'お気に入り登録する', favorites_path(blog_id: blog.id), method: :post %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
